<div class="authorize">
<div class="card", align='center'>

<h1>Регистрация</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= 'Электронная почта' %><br /><br />
    <%= f.email_field :email, autofocus: true %><br/>
  </div><br/>


  <div class="field">
    <%= 'Пароль'%><br/>
    <% if @minimum_password_length %>
    <em>(минимум <%=  @minimum_password_length %> символов)</em>
    <% end %><br /><br />
    <%= f.password_field :password, autocomplete: "off" %><br/>
  </div><br/>

  <div class="field">
    <%= 'Подтверждение пароля' %><br /><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
<br/>
  <div class="actions">
    <div class="sign_up">
      <%= f.submit "Зарегестрироваться", class: 'c' %>
    </div>
  </div>
<% end %>
</div>
</div>