<div class="show">
  <div class="card">


    <%= form_for @book do |f| %>
        <div class="other_put_field">
          <br/>
          <p></p>
          <br/>
          <table>
            <tr>
              <td>
                Название:
              </td>
              <td>
                <%= f.text_area :title, size: '45' %>
              </td>
            </tr>
            <tr>
              <td>
                Автор:
              </td>
              <td>
                <%= f.text_area :author, size: '45' %>
              </td>
            </tr>

            <tr>
              <td>
                Обложка:
              </td>
              <td>
                <%= f.file_field :image %>
              </td>
            </tr>
            <tr>
              <td>
                Жанры:
              </td>
              <td>
                <%= f.check_box :category_historical, {}, 'true', 'false' %>
                <%= 'Исторический' %><br/>
                <%= f.check_box :category_novel, {}, 'true', 'false' %>
                <%= 'Роман' %><br/>
                <%= f.check_box :category_biography, {}, 'true', 'false' %>
                <%= 'Биография' %><br/>
                <%= f.check_box :category_fantasy, {}, 'true', 'false' %>
                <%= 'Фантастика' %><br/>
              </td>
            </tr>
            <tr>
              <td>Дополнительно:</td>
              <td>
                <%= f.check_box :draft, {}, 'true', 'false' %>
                <%= 'Черновик' %>
              </td>
            </tr>

          </table>
        </div>
        <div class="content_field">
          <p align="center">Содержание:</p>
          <%= f.text_area :content, size: "100x10" %>
        </div>
        <div class="submit" align="center">
          <%= f.submit value='Cохранить', class: 'c' %>
        </div>
    <% end %>
  </div>
</div>
