<div class="main">
  <% @books.each do |book| %>
      <% if !book.draft %>
          <div class="book">

            <div class="image">
              <div>
                <%= image_tag book.image.url, height: 200 %>
              </div>

            </div>

            <table>
              <tr>
                <td> Автор:</td>
                <td><%= book.author %></td>
              </tr>

              <tr>
                <td>Название:</td>
                <td><%= book.title %></td>
              </tr>
              <tr>
                <td>Жанры:</td>
                <td>
                  <% if book.category_novel %>
                      <%= 'Роман' %><br/>
                  <% end %>
                  <% if book.category_fantasy %>
                      <%= 'Фантастика' %><br/>
                  <% end %>
                  <% if book.category_historical %>
                      <%= 'Историческая' %><br/>
                  <% end %>
                  <% if book.category_biography %>
                      <%= 'Биография' %><br/>
                  <% end %>
                </td>
              </tr>


            </table>
            <div class="buttons">

              <table>
                <tr>
                  <%= link_to 'Просмотр', book_path(book), class: 'c' %>
                </tr>


                <% if user_signed_in? && current_user.id == book.user_id %>
                    <tr><%= link_to 'Изменить', edit_book_path(book), class: 'c' %></tr>
                    <tr>
                      <%= link_to 'Удалить', book_path(book), method: :delete, data: {confirm: 'are you sure?'}, class: 'c' %>
                    </tr>
                <% end %>

              </table>

            </div>

          </div>
      <% else %>
          <% if user_signed_in? && current_user.id == book.user_id %>
              <div class="book">

                <div class="image">
                  <div>
                    <%= image_tag book.image.url, height: 200 %>
                    <%= 'Черновик'%>
                  </div>

                </div>

                <table>
                  <tr>
                    <td> Автор:</td>
                    <td><%= book.author %></td>
                  </tr>

                  <tr>
                    <td>Название:</td>
                    <td><%= book.title %></td>
                  </tr>


                  <tr>
                    <td>Жанры:</td>
                    <td>
                      <% if book.category_novel %>
                          <%= 'Роман' %><br/>
                      <% end %>
                      <% if book.category_fantasy %>
                          <%= 'Фантастика' %><br/>
                      <% end %>
                      <% if book.category_historical %>
                          <%= 'Историческая' %><br/>
                      <% end %>
                      <% if book.category_biography %>
                          <%= 'Биография' %><br/>
                      <% end %>
                    </td>
                  </tr>

                </table>

                <div class="buttons">

                  <table>
                    <tr>
                      <%= link_to 'Просмотр', book_path(book), class: 'c' %>
                    </tr>


                    <% if user_signed_in? && current_user.id == book.user_id %>
                        <tr><%= link_to 'Изменить', edit_book_path(book), class: 'c' %></tr>
                        <tr>
                          <%= link_to 'Удалить', book_path(book), method: :delete, data: {confirm: 'are you sure?'}, class: 'c' %>
                        </tr>
                    <% end %>

                  </table>

                </div>

              </div>
          <% end %>
      <% end %>


  <% end %>
</div>