<div class="show" align="center">
  <div class="card">
    <div>
      <div class="text">
        <table class="title">
          <tr>
            <td>Автор:</td>
            <td><%= @book.author %></td>
          </tr>
          <tr>
            <td>Название:</td>
            <td><%= @book.title %></td>
          </tr>
          <tr>
            <td>Жанры:</td>
            <td>
              <% if @book.category_novel %>
                  <%= 'Роман' %><br/>
              <% end %>
              <% if @book.category_fantasy %>
                  <%= 'Фантастика' %><br/>
              <% end %>
              <% if @book.category_historical %>
                  <%= 'Историческая' %><br/>
              <% end %>
              <% if @book.category_biography %>
                  <%= 'Биография' %><br/>
              <% end %>
            </td>
          </tr>
          <% if @book.draft %>
              <tr>
                <td>Черновик</td>
              </tr>
              <tr>
          <% end %>
          <td></td>
          <td align="right">

            <% if user_signed_in? && current_user.id == @book.user_id %>
                <div><%= link_to 'Изменить', edit_book_path(@book), class: 'c' %></div>
                <div><%= link_to 'Удалить', book_path(@book), method: :delete, class: 'c' %></div>
            <% end %>
          </td>
          </tr>
        </table>
      </div>
      <div class="image">
        <%= image_tag @book.image.url, height: 300 %>
      </div>
      <div style="clear: right;"></div>
    </div>

    <div class="content">
      <h3 align="center">Краткое содержание</h3>
      <%= @book.content %>
    </div>


  </div>
</div>
