<div class="authorize">
<div class="card", align="center">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= 'Электронная почта' %><br /><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
  <br/>
    <%= 'Пароль' %><br /><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <br/>
  <div class="actions">
    <%= f.submit "Войти" , class: 'c'%>
  </div>
<% end %>
</div>
</div>
