/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.authorize{
    width: 100%;
    padding-top: 60px;

}
.submit{
    padding-top: 23%;
}

.other_put_field {
    float: left;
}

.content_field {
    float: right;
}

.show .c {
    width: 90px;
}

.show {
    width: 100%;
    padding-top: 60px;
}

.show .text {
    float: right;
}

.show .image {
    float: left;
}

.show .title {
    font-family: Arial, Helvetica, Verdana, sans-serif; /* Гарнитура шрифта */
    font-size: 120%; /* Размер текста */
}
.card {
    margin: 2%; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
    border: 4px solid black; /* Параметры границы */
    background: #e9e9ce; /* Цвет фона */
}
.card .c{
    width: 100px;
}
.sign_up .c{
    width: 160px;
}

/*.show .content {*/
/*text-align: justify;*/
/*padding-top: 10%;*/
/*font-family: Arial, Helvetica, Verdana, sans-serif; !* Гарнитура шрифта *!*/
/*font-size: 120%; !* Размер текста *!*/
/*}*/

.content {
    text-align: justify;
    padding-top: 6%;
    font-family: Arial, Helvetica, Verdana, sans-serif; /* Гарнитура шрифта */
    font-size: 120%; /* Размер текста */
}

.r {
    float: right;
}

.c {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    background: #CCCCCC;
    text-decoration: none; /* Убираем подчёркивание */
    text-align: center;
    color: #000; /* Цвет текста */
}

.c:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
}

.main {
    width: 100%;
    padding-top: 60px;
}

.main div {
    float: left;
    width: 40%;
}

.book {
    height: 250px;
    width: 30%; /* Ширина слоя */
    margin: 2%; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
    border: 4px solid black; /* Параметры границы */
    background: #e9e9ce; /* Цвет фона */
}

.book .image {
    width: 42%;
    height: 95%;
    /*float: left;*/
    /*width: 20%;*/
    /*padding-right: 80%*/

}

.book .c {
    width: 70px;
}

.book .buttons {
    float: right;
    width: 20%;
    padding-top: 38px;
    /*padding-left: 100px;*/
}


