<!DOCTYPE html>
<html>
<head>
  <title>SlobodaTask</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<div>

  <div class="r">
    <% if user_signed_in? %>
        <span class="content"><%= current_user.email %></span>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'c' %>
    <% else %>
        <%= link_to 'Войти', new_user_session_path, class: 'c' %>
        или <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'c' %>
    <% end %>
    <%= link_to 'На главную', books_path, class: 'c' %>
    <%= link_to 'Добавить книгу', new_book_path, class: 'c' %>
  </div>
</div>
<%= yield %>
</body>
</html>
